<div class="container">
  <div class="row">

    <div class="col-md-6 offset-md-3 user_form_area">
        <h2 class="form_h2">確認メール送信</h2>
        <br>
        <p class="center">登録したアドレスに確認用のメールを送信しました。</p>
    </div><!--/.user_form_area-->

    </div><!--/.row-->
</div><!--/.container-->
